
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper #2196f3 blue">

      <a routerLink="/home" class="brand-logo center">Fishki</a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a href="badges.html">News</a></li>
        <li class="active"><a href="collapsible.html">DUDUDU</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>
</div>


