<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-user-registration></app-user-registration>

<p>
    Gniew Achilla[1], bogini[2], głoś, obfity w szkody,

    Który ściągnął klęsk tyle na greckie narody,

    Mnóstwo dusz mężnych wcześnie wtrącił do Erebu[3],

    A na pastwę dał sępom i psom bez pogrzebu

    5
    Walające się trupy rycerskie wśród pola:

    Tak Zeusa[4] wielkiego spełniała się wola

    Odtąd, gdy się zjątrzyli sporem niebezpiecznym

    Agamemnon[5], król mężów, z Achillem walecznym.

    Kapłan, OjciecOd kogóż tej niezgody pożar zapalony?

    10
    Od Feba[6], co go Kronid[7] z pięknej miał Latony[8].

    Gniewny na króla, wojsku straszną klęskę zadał,

    Rozszerzył mór[9] w obozie, codziennie lud padał;

    Mścił się, że był zelżony jego kapłan święty.

    Przyszedł Chryzes[10], gdzie stały Achajów[11] okręty,

    15
    Świetną na okup córki przynosząc ofiarę,

    A w ręku mając berło i Feba tiarę[12];

    Prosił Greki o litość na ojcowskie bóle:

    Najbardziej zaś Atrydy[13], dwa narodów króle:

    — «Atrydowie i Grecy! Niech wam dadzą bogi

    20
    Dobyć miasta Pryjama[14], w swoje wrócić progi!

    Lecz pomni na łuk Feba[15] strzelający z góry,

    Weźcie okup, nie przeczcie[16] ojcu jego córy[17]!

    Rzekł. W Grekach szmer przyjazny oznaczał ich zgodę,

    Aby uczcić kapłana i przyjąć nagrodę;

    25
    Nie przypadła królowi do serca ta mowa,

    Więc go puścił z obelgą, przydał groźne słowa:

    — «Znidź[18], naprzykrzony starcze, z oczu moich pręcej[19],

    Nie waż bawić się dłużej ani wracać więcej!

    W tiarze, w berle słaba dla ciebie zasłona.

    30
    NiewolaChyba mi starość córkę twoją wydrze z łona;

    Od swych daleko, w Argos[20] na zawsze osiędzie,

    Tam wełnę tkać i łoże moje dzielić będzie.

    Pójdź precz! Ani mnie gniewaj, żebyś został cały!

    Rzekł król; Kapłan, Bóg, Zemstazaląkł się starzec i odszedł struchlały.

    35
    Szedł cicho ponad morze, gdzie huczały fale,

    A gdy już był daleko, wynurzył swe żale

    I syna pięknowłosej tak prosił Latony:

    — «Boże! Którego Chryza doznaje obrony,

    Smintejczyku[21]! Co strzałę wypuszczasz daleką,

    40
    Co masz Tened[22] i Killę[23] pod możną opieką:

    Jeśli wieńcami twoje zdobiłem kościoły,

    Jeślim ci na ofiarę bił kozły i woły,

    Niech prośba ta od ciebie będzie wysłuchana:

    Zemścij się łukiem twoim obelgi kapłana».

    45
    ŚmierćLedwie skończył, modlitwa doszła ucha Feba;

    Wysłuchał go łaskawie, zstąpił gniewny z nieba

    Z łukiem swoim, z kołczanem; na ramionach strzały

    W bystrym biegu strasznymi szczęki[24] przerażały.

    Idzie jak noc posępny; siadł z dala, łuk spina:

    50
    Leci strzała i świszcząc powietrze rozcina.

    Okropnym brzmiąc łuk jękiem psy strzela i muły;

    Wnet zgubne jego razy Achaje poczuły:[25]

    Palą się bezprzestannie[26] smutne trupów stosy.

    Przez dziewięć dni na wojsko śmiertelne szły ciosy,

    55
    Dziesiątego Achilles cały lud zwoływa[27],

    Bo tę myśl w piersi Hera[28] wlała mu życzliwa,

    Bolesna, widząc swoich Achajów zagładę.

    Zatem, gdy się na walną[29] zgromadzili radę,

    Mężny Achilles tymi zaczął mówić słowy:

    60
    — «Teraz bardzo się lękam, synu Atrejowy[30],

    Abyśmy, obłąkani[31] wpośród morskich brodów,

    Nie musieli powracać do ojczystych grodów,

    Jeżeli tu na zawsze nie zamkniem powieki,

    Bo i wojna okrutna, i mór niszczy Greki.

    65
    Niech wieszcz[32] lub kapłan powie, skąd ta chłosta sroga,

    Albo snów tłumacz wierny — wszakże sny od boga?

    Niechaj powie, dlaczego Feb[33] naszej chce zguby:

    Czy go niedopełnione obrażają śluby?

    Czyli[34] stąd, że świętego stugłowu[35] nie bierze?

    70
    Bijmy owce i kozy dla niego w ofierze,

    Aby ubłagan wstrzymał ten mór niebezpieczny»

    To powiedziawszy usiadł Achilles waleczny.

    Wstał Testora syn, Kalchas, pierwszy w swym urzędzie:

    Zna, co jest, zna, co było, zna nawet, co będzie;

    75
    Mądry i duchem wieszczym od Feba natchnięty,

    On do Troi achajskie prowadził okręty.

    Więc tak na radzie głosem roztropnym opiewa:

    — «Chcesz, bym wyrzekł, dlaczego na nas Feb się gniewa,

    Feb, którego łuk srebrny zgubne strzały niesie?

    80
    Ja powiem, lecz przysięgą zaręcz, Achillesie,

    Że mi słowy i ręką dasz potrzebne wsparcie,

    Bo widzę, jak się na mnie rozgniewa zażarcie

    Mąż, któremu nad sobą władzę Grecy dali.

    A gdy król na słabego gniewem się zapali,

    85
    Chociaż się na czas wstrzyma, w razie nie zaszkodzi,

    Znajdzie potem sposobność i zemście dogodzi.

    Uważ[36] więc, czyliś zdolny ocalić mą głowę».

    Achilles odpowiedział na tę wieszczka mowę:

    — «Co tylko wiesz, mów śmiało! Bo na Apollina

    90
    Przysięgam, Zeusowi najmilszego syna,

    Którego ty świętości trzymając na pieczy,

    Z daru jego zwiastujesz przyszłe Grekom rzeczy;

    Przysięgam, póki widzę to światło na niebie:

    Żaden się z Greków skrzywdzić nie odważy ciebie,

    95
    Ani sam Agamemnon. Nic to nie przeszkadza

    Prawdę wyrzec, że jego najwyższa dziś władza».

    Ośmielił się tym wieszczek: «Ani dla[37] ofiary,

    Ani dla ślubów — rzecze — zesłane są kary;

    Wzgarda świętego sługi ściągnęła tę stratę.

    100
    Nie chciał wydać król córki, odrzucił zapłatę,

    Dlatego między nami zaraza się szerzy,

    I nie wprzódy się w swoim gniewie Feb uśmierzy,

    Aż król powróci zdobycz, którą dotąd trzyma.

    I darmo odda brankę z czarnymi oczyma.

    105
    Gdy do Chryzy poślemy jeszcze stugłów święty,

    Może się da złagodzić dla nas bóg zawzięty».

    Skończywszy usiadł Kalchas. Natychmiast powstanie

    Trzymający szerokie Atryd panowanie,

    Straszliwie pomieszany, gniew mu wnętrze ściska,

    110
    A oko rozpalone żywym ogniem błyska;

    I rzekł, krzywym rzucając na Kalchasa wzrokiem:

    — «Zawsze ty, widzę, jesteś nieszczęścia prorokiem

    I nic nie umiesz dla mnie zwiastować przyjemnie;

    Każdy twój czyn i wyraz serce rani we mnie.

    115
    Teraz nawet rozgłaszasz pomiędzy Achiwy[38],

    Iż dlatego zarazą Feb ich trapi mściwy,

    Żem zatrzymał dziewicę, okupem wzgardziłem.

    Posiadanie tej branki bardzo mi jest miłem,

    Byłaby moją w domu pociechą jedyną,

    120
    Większą niż Klitajmestra[39], którąm wziął dziewczyną.

    Wyrówna jej rozumem moja niewolnica

    I sercem, i przemysłem[40], i pięknością lica.

    Ale gdy trzeba, ojcu wracam ją do ręki,

    Bo wolę całość ludu nad jej wszystkie wdzięki.

    125
    Tylko mi tę osłodźcie stratę, przyjaciele:

    Godziż się, bym szkodował sam jeden tak wiele?

    Wszakże wszyscy widzicie, co mi z rąk wyp
</p>

<app-footer></app-footer>